body {
  margin: 0;
  text-align: center;
}

.score {
  background: #0a0001;
  font-size: 90px;
  color: #F94F6D;
  width: 120px;
  margin: 20px;
}

.section-container {
  display: flex;
  flex-direction: column;
}

.reset-button {
  margin-top: -70px;
  width: 100px;
  margin-left: 325px;
  padding: 10px 15px;
  background: transparent;
  border: 1px solid white;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  border-radius: 5px;
}

.container {
  display: flex;
  justify-content: space-around;
  background-color: #19244D;
  padding-bottom: 70px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 50px;
}

.point-button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-right: 5px;
}